<!DOCTYPE html>
<html lang="en" dir="ltr">

 <link rel="stylesheet" href="{{ url_for('static',    filename='css/home.css') }}">
  <title>Upload new File</title>

  <div class='container'>
    <div class='child'>
      <h1>Upload Your Photos</h1>
    </div>

    <div class='child'>
      <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload name=action>
      </form>
    </div>

    <div class='child'>
      <form method=post enctype=multipart/form-data>
        <input type="submit" name="action" value="Submit">
      </form>
    </div>


  </div>
</html>
